@font-face {
  font-family: "Saiyan_sans-left";
  src: url("../fonts/saiyan_sans/Saiyan-Sans%20Left%20Oblique.ttf")
    format("truetype");
}

@font-face {
  font-family: "Saiyan_sans-right";
  src: url("../fonts/saiyan_sans/Saiyan-Sans%20Right%20Oblique.ttf")
    format("truetype");
}

@font-face {
  font-family: "FighterZ";
  src: url("../fonts/DragonBallFighterz-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Felina";
  src: url("../fonts/FelinaT26\ Gothic\ Regular.otf") format("opentype");
}

/* Container */
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Body */
body {
  background-color: #f2f5f2;
  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%23a2adc7' fill-opacity='0.14'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* CSS Navbar */
.header__background {
  background-image: url("../img/header__background.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  max-width: 10rem;
  width: 100%;
  margin: 1rem 0;
}

.main-nav__logo--hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}



.main-nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.main-nav__item {
  max-width: 100%;
  font-size: 4vw;
  margin: 0 1rem;
  padding: 0 1rem;
  text-decoration: none;
  font-family: "FighterZ";
  background-color: #f94200;
  color: #0606a5;
  border-radius: 1rem;
  box-shadow: -12px 16px 38px -12px rgba(0, 0, 0, 0.56),
    -4px 4px 25px 0px rgba(0, 0, 0, 0.12), -8px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main-nav__item--hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Carousel */

.carousel__container {
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 3rem;
  border-bottom: 3px solid #0606a5;
}

.carousel__slides {
  display: none;
}

.carousel__slides img {
  width: 100%;
  height: auto;
}

.carousel__button {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2rem;
  padding: 1rem;
  font-size: 1.5vw;
  transition: background-color 0.6s ease;
}

.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__dots{
    text-align: center;
    margin: 1rem;
    
}

.carousel__dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 0.5rem;
  
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.carousel__slide--fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Section personnages */
.result__bio{
  max-width: 65ch;
  font-size: 1.5vw;
  font-family: "ProbaPro";
  margin: 0 auto;
  margin-top: 2rem;
}


.API__search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.search__input{
  font-size: 1.5vw;
  padding: 0.5rem;
  border: 1px solid #0606a5;
  border-radius: 1rem;
  margin: 0 2rem;
  font-family: "ProbaPro";
  text-align: center;
}

.search__btn{
  font-size: 4vw;
  font-family: "FighterZ";
  padding: 0rem 1rem;
  border: 1px solid #0606a5;
  border-radius: 1rem;
  box-shadow: -12px 16px 38px -12px rgba(0, 0, 0, 0.56),
  -4px 4px 25px 0px rgba(0, 0, 0, 0.12), -8px 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-color: #f94200;
  color: #0606a5;
  margin: 0 2rem;
}

.search__btn--hover:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.result__background{
  background-color: #717171;
}

.result__card{
  max-width: fit-content;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1vw;
  background-color: #0606a5;
  margin: 0 auto;
  border: 1vw solid #f2f5f2;
  border-radius: 3rem;

}

.result__img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  max-width: 15vw;
}
.result__texte{
  display: flex;
  flex-flow: column wrap;
  align-items: center;

}

.result__texte{
  font-family: "ProbaPro";
  color: #f2f5f2;
}

.result__name{
  font-size: 2vw;
}

.result__abilities{
  font-size: 1.5vw;

}

.clear__btn{
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}


/* Introduction */

.intro {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  max-width: 100%;
  margin: 2rem;
}

.intro__titre {
  display: flex;
  flex-flow: column wrap;
}

.intro__h1 {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  -webkit-text-stroke: black 1px;
  margin: 0 auto;
}

.h1__left--yellow {
  color: #f7d000;
  font-family: "Saiyan_sans-left";
}

.h1__right--red {
  color: #ff0000;
  font-family: "Saiyan_sans-right";
}

.h1__left--orange {
  color: #f94200;
  font-family: "Saiyan_sans-left";
}

.intro__h2 {
  font-family: "Felina";
  font-size: 5vw;
  margin: 0 auto;
}

.intro__p {
  font-family: "ProbaPro";
  font-size: 2vw;
  margin: 0 auto;
  margin-top: 1rem;
}
