@font-face {
    font-family: 'Saiyan_sans-left';
    src: url('../fonts/saiyan_sans/Saiyan-Sans%20Left%20Oblique.ttf') format('truetype');
}
@font-face {
    font-family: 'Saiyan_sans-right';
    src: url('../fonts/saiyan_sans/Saiyan-Sans%20Right%20Oblique.ttf') format('truetype');
}

/* CSS Navbar */

.main_nav {
    display: flex; /* Active le mode Flexbox pour la navbar */
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 1rem 2rem; /* Ajoute de l'espace autour des éléments *//* Couleur du texte blanche */
}

.main-nav__logo img{
    max-width: 200px;

}

h1 {
    display: flex; /* Active le mode Flexbox pour le h1 */
    justify-content: flex-start; /* Répartit l'espace entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
  }
  
.h1__left--yellow{
    color: #f7d000; /* Couleur jaune */
    font-family: 'Saiyan_sans-left'; /* Police Saiyan sans */
    font-size: 4rem; /* Taille de la police */
    -webkit-text-stroke: black 1px;
}

.h1__right--red{
    color: #ff0000; /* Couleur rouge */
    font-family: 'Saiyan_sans-right'; /* Police Saiyan sans */
    font-size: 4rem; /* Taille de la police */
    -webkit-text-stroke: black 1px;
}
