@use "variables" as *;

.carousel {
	&__container {
		max-width: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap;
		margin: 0 auto;
		padding: 2rem 0rem;
	}

	&__slides {
		display: none;

		img {
			width: 100%;
			height: auto;
			box-shadow: $shadow-light;
		}
	}

	&__button {
		transform: translateY(-50%);
		background-color: $background-color_3;
		color: $color_2;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		margin: 0 2rem;
		padding: 1vw;
		font-size: 1.5vw;
		transition: background-color 0.6s ease;
		box-shadow: $shadow-light;

		&:hover {
			background-color: $background-color_4;
		}
	}

	&__dots {
		text-align: center;
		margin: 1rem;
	}

	&__dot {
		cursor: pointer;
		height: 1rem;
		width: 1rem;
		background-color: $background-color_5;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		margin: 0 0.5rem;
		box-shadow: $shadow-light;

		&.active {
			background-color: $background-color_6;
		}

		&:hover {
			background-color: $background-color_6;
		}
	}

	&__slide--fade {
		animation-name: fade;
		animation-duration: 1.5s;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}