@use "variables" as *;

.header {
  &__background {
    background-image: url("../../img/header__background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding: 2rem;
  }

  &__nav {
    max-width: 100%;
    @include flex-center;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__logo {
    max-width: 15vw;

    &--hover {
      @include hover-scale;
    }
  }

  &__list {
    @include flex-center;
    flex-flow: row wrap;
    max-width: 100%;

    &--show {
      @include flex-center;
      flex-flow: column wrap;
    }
  }

  &__item {
    max-width: 100%;
    font-size: 3em;
    margin: 1rem 1rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    font-family: $font-family_1;
    background-color: $color_7;
    color: $color_1;
    border-radius: 1rem;
    box-shadow: $shadow-light;

    &--hover {
      @include hover-scale;
    }
  }

  &__hamburger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 0.25rem;

    &--hover{
      @include hover-scale;
    }

    &-line {
      max-width: 3rem;
      height: 0.5rem;
      background-color: $color_7;
      border-radius: 0.25rem;
      border: 2px solid $color_1;
    }
  }

  /* Cacher le hamburger menu */
  @media (min-width : 960px) {
    .header__hamburger {
      display: none;
    }
  }

  /* Cacher la nav-bar et rapprocher le logo */
  @media ( max-width : 960px ) {
    .header__nav {
      justify-content: space-evenly;
    }
    .header__list {
      display: none;
    }
  }

  .hamburger-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
