@use "variables" as *;

.map-form {
    &__container {
        @include flex-center;
        flex-flow: row wrap;
        border-top: 3px solid #0606a5;
        padding: 2rem 0;
        margin: 2rem 2rem;
        border-bottom: 3px solid #0606a5;
        gap: 2rem;
    }
}

iframe {
    border-radius: 1rem;
    box-shadow: $shadow-light;
    min-width: 50%;
    max-width: 75%;
    height: 50vw;
}

.form {
    &__container {
        @extend %container-styles;
        z-index: 2;
        background-color: $background-color_5;
    }

    &__wrapper {
        @include flex-column;
        margin: 0 auto;
        width: 100%;
    }

    &__nom {
        @include flex-center;
        flex-flow: row nowrap;
        gap: 0.5rem;
        width: 100%;
    }

    &__group {
        @include flex-column;
        width: 100%;

        >input {
            font-family: $font-family_2;
            width: 100%;
        }

        .errorMessage {
            color: $color_6;
            font-size: 2vw;
            height: 13px;
        }

        &.success {
            input {
                border-color: $border-color_1;
            }
        }

        &.error {
            input {
                border-color: $border-color_2;
            }
        }
    }

    &__h3 {
        font-family: $font-family_3;
        text-align: center;
        margin: 0.5rem;
        font-size: 2em;
        background-color: $color_2;
        border: 2px inset $color_4;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
    }

    &__label {
        font-family: $font-family_2;
        margin: 0.5rem;
        font-size: 1em;
        font-weight: bolder;
    }

    &__button {
        @extend %btn-styles;
        margin: 1rem 0rem;
        padding: 0.5vw 1vw;
        background-color: $color_2;
        color: $color_4;
    }

    span {
        color: $color_6;
        margin: 0.5rem;
    }
}