@use "variables" as *;

.stats {
	&__container {
		@include flex-center;
		flex-flow: row wrap;
		align-items: center;
		border-bottom: 3px solid #0606a5;
		margin: 2rem;
	}

	&__img {
		max-width: 35%;
		min-width: 20%;
	}

	&__carte {
		@include flex-center;
		flex-flow: column wrap;
		align-items: flex-start;
	}

	&__chiffres {
		display: flex;
		align-items: flex-start;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	&__chiffre {
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
		max-width: 50%;
	}

	&__h3 {
		font-family: $font-family_3;
		font-size: 3em;
	}

	&__h4 {
		font-family: $font-family_3;
		font-size: 2em;
	}

	&__p {
		font-family: $font-family_2;
		font-size: 1.5em;
		margin-top: 0;
	}

	&__btn {
		@extend %btn-styles;
		text-decoration: none;
		background-color: $color_7;
		color: $color_1;
		box-shadow: $shadow-light;
		margin: 2rem 0rem;
		border: 1px solid #0606a5;

		@include hover-scale;
	}
}