@font-face {
  font-family: "Saiyan_sans-left";
  src: url("../../fonts/Saiyan-Sans-Left-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "Saiyan_sans-right";
  src: url("../../fonts/Saiyan-Sans-Right-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "FighterZ";
  src: url("../../fonts/DragonBallFighterz-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ProbaPro";
  src: url("../../fonts/ProbaPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Felina";
  src: url("../../fonts/FelinaT26-Gothic-Regular.otf") format("opentype");
}
/* mixins */
/* animation carousel */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* placeholders */
.form__button, .stats__btn, .search__btn, .clear-btn {
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: "Felina";
}
.form__button:hover, .stats__btn:hover, .search__btn:hover, .clear-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form__container {
  max-width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -12px 16px 38px -12px rgba(0, 0, 0, 0.56), -4px 4px 25px 0px rgba(0, 0, 0, 0.12), -8px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #f2f5f2;
  background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%23a2adc7' fill-opacity='0.14'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.screen-reader-text {
  display: none;
}

.header__background {
  background-image: url("../../img/header__background.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  padding: 2rem;
}
.header__nav {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}
.header__logo {
  max-width: 15vw;
}
.header__logo--hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  max-width: 100%;
}
.header__list--show {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.header__item {
  max-width: 100%;
  font-size: 3em;
  margin: 1rem 1rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  font-family: "FighterZ";
  background-color: #ff6700;
  color: #0606a5;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.header__item--hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header__hamburger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.25rem;
}
.header__hamburger--hover:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header__hamburger-line {
  max-width: 3rem;
  height: 0.5rem;
  background-color: #ff6700;
  border-radius: 0.25rem;
  border: 2px solid #0606a5;
}
.header .hamburger-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* Cacher le hamburger menu */
@media (min-width: 961px) {
  .header__hamburger {
    display: none;
  }
}
/* Cacher la nav-bar et rapprocher le logo */
@media (max-width: 960px) {
  .header__nav {
    justify-content: space-evenly;
  }
  .header__list {
    display: none;
  }
}
.carousel__container {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0 auto;
  padding: 2rem 0rem;
}
.carousel__slides {
  display: none;
}
.carousel__slides img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.carousel__button {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2rem;
  padding: 1vw;
  font-size: 1.5vw;
  transition: background-color 0.6s ease;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel__dots {
  text-align: center;
  margin: 1rem;
}
.carousel__dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.carousel__dot.active {
  background-color: #717171;
}
.carousel__dot:hover {
  background-color: #717171;
}
.carousel__slide--fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.api-container {
  border-top: #0606a5 3px solid;
}
.api-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 2rem 0;
  font-family: "ProbaPro";
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.search__input {
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  border: 1px solid #0606a5;
  border-radius: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.search__input__label {
  font-size: 2em;
  margin: 1rem;
  max-width: 25ch;
  text-align: center;
}
.search__btn {
  background-color: #ff6700;
  color: #0606a5;
}

.result__background {
  background-color: #bbb;
  padding: 1rem;
}
.result__card {
  max-width: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 2rem;
  background-color: #0606a5;
  margin: 0 auto;
  border: 1vw solid #f2f5f2;
  border-radius: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.result__img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  max-width: 15em;
}
.result__texte {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: 2em;
  max-width: 65ch;
  font-family: "ProbaPro";
  color: #f2f5f2;
  text-align: center;
}
.result-bio {
  margin: 1rem 0rem;
}
.result__name {
  font-size: 2em;
}

.clear-btn {
  margin: 2rem;
  background-color: #f2f5f2;
  color: black;
  font-size: 1em;
}

.intro {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 2rem;
  border-bottom: #0606a5 3px solid;
}
.intro__titre {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.intro__h1 {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap !important;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  margin: 0 auto;
}
.intro__h1 h1 {
  text-shadow: 1vw 1vw 1vw black;
  -webkit-text-stroke: black 3px;
  margin: 1rem 0rem;
}
.intro__h2 {
  font-family: "Felina";
  font-size: 3em;
  margin: 0 auto;
}
.intro__p {
  max-width: 65ch;
  font-family: "ProbaPro";
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 1rem;
}

.h1__left--yellow {
  color: #f7d000;
  font-family: "Saiyan_sans-left";
}

.h1__left--orange {
  color: #ff6700;
  font-family: "Saiyan_sans-left";
}

.h1__right--red {
  color: #ff0000;
  font-family: "Saiyan_sans-right";
}

.trucs__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 2rem;
  max-width: 100%;
}

.truc {
  max-width: 33%;
  min-width: 35ch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.truc__img {
  width: 25%;
}
.truc__h3 {
  font-family: "Felina";
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
.truc__p {
  font-family: "ProbaPro";
  font-size: 1.5em;
  text-align: center;
  max-width: 65ch;
  margin: 0.5rem;
}

.galerie--grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(16, 1fr);
  gap: 1.5rem;
  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: #0606a5 3px solid;
  max-width: 100%;
}
.galerie__item {
  border-radius: 1rem;
  box-shadow: -12px 16px 38px -12px rgba(0, 0, 0, 0.56), -4px 4px 25px 0px rgba(0, 0, 0, 0.12), -8px 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.galerie__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

#item-0 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 7;
  grid-column-end: 5;
}

#item-1 {
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 5;
  grid-column-end: 11;
}

#item-2 {
  grid-row-start: 5;
  grid-column-start: 5;
  grid-row-end: 8;
  grid-column-end: 8;
}

#item-3 {
  grid-row-start: 5;
  grid-column-start: 8;
  grid-row-end: 9;
  grid-column-end: 14;
}

#item-4 {
  grid-row-start: 2;
  grid-column-start: 11;
  grid-row-end: 5;
  grid-column-end: 14;
}

#item-5 {
  grid-row-start: 3;
  grid-column-start: 14;
  grid-row-end: 7;
  grid-column-end: 17;
}

.stats__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: #0606a5 3px solid;
  margin: 2rem;
}
.stats__img {
  max-width: 35%;
  min-width: 20%;
}
.stats__carte {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  align-items: flex-start;
}
.stats__chiffres {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
}
.stats__chiffre {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  max-width: 50%;
}
.stats__h3 {
  font-family: "Felina";
  font-size: 3em;
}
.stats__h4 {
  font-family: "Felina";
  font-size: 2em;
}
.stats__p {
  font-family: "ProbaPro";
  font-size: 1.5em;
  margin-top: 0;
}
.stats__btn {
  text-decoration: none;
  background-color: #ff6700;
  color: #0606a5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0rem;
  border: 1px solid #0606a5;
}
.stats__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.background__cartes {
  background-color: #ff6700;
}

.equipe {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  margin-bottom: 2rem;
  max-width: 100%;
}
.equipe__text {
  background-color: #f2f5f2;
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  max-width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.equipe__h2 {
  font-family: "Felina";
  text-align: center;
  max-width: 100%;
  font-size: 2em;
}
.equipe__p {
  font-family: "ProbaPro";
  text-align: center;
  max-width: 100%;
  font-size: 1.5em;
}
.equipe__carte {
  margin: 2rem 1rem;
  background-color: #f2f5f2;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  max-width: 25%;
  min-width: fit-content;
  padding: 1rem;
}

.membres__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 100%;
}

.membre {
  position: relative;
  bottom: 3rem;
  border-radius: 1rem;
  width: 25ch;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.membre img {
  max-width: 100%;
  border-radius: 1rem;
  background-color: #db9578;
  box-shadow: -12px 16px 38px -12px rgba(0, 0, 0, 0.56), -4px 4px 25px 0px rgba(0, 0, 0, 0.12), -8px 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.membre__h3 {
  font-family: "Felina";
  margin: 2rem 0.5rem;
}
.membre__h4 {
  font-family: "Felina";
  margin: 0.5rem;
}
.membre__p {
  font-family: "ProbaPro";
}

.map-form__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-top: 3px solid #0606a5;
  padding: 2rem 0;
  margin: 2rem 2rem;
  border-bottom: 3px solid #0606a5;
  gap: 2rem;
}

iframe {
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  min-width: 50%;
  max-width: 75%;
  height: 50vw;
}

.form__container {
  z-index: 2;
  background-color: #bbb;
}
.form__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
  width: 100%;
}
.form__nom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0.5rem;
  width: 100%;
}
.form__group {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.form__group > input {
  font-family: "ProbaPro";
  width: 100%;
}
.form__group .errorMessage {
  color: #ff0000;
  font-size: 2vw;
  height: 13px;
}
.form__group.success input {
  border-color: #09c372;
}
.form__group.error input {
  border-color: #ff0000;
}
.form__h3 {
  font-family: "Felina";
  text-align: center;
  margin: 0.5rem;
  font-size: 2em;
  background-color: white;
  border: 2px inset black;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
.form__label {
  font-family: "ProbaPro";
  margin: 0.5rem;
  font-size: 1em;
  font-weight: bolder;
}
.form__button {
  margin: 1rem 0rem;
  padding: 0.5vw 1vw;
  background-color: white;
  color: black;
}
.form span {
  color: #ff0000;
  margin: 0.5rem;
}

footer {
  background-image: url("../../img/svg-footer.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1em;
}

.logo-links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.logo-links__logo {
  max-width: 15vw;
}
.logo-links__logo img {
  max-width: 100%;
}
.logo-links__liens {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  border-bottom: white 3px solid;
}
.logo-links__liens a {
  font-family: "ProbaPro";
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #717171;
  margin: 0.5rem;
}

.footer-down {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  font-family: "ProbaPro";
  max-width: 100%;
}
.footer-down img {
  max-width: 1.5em;
}
.footer-down__item {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  max-width: 100%;
  background-color: #717171;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.footer-down__item a {
  color: white;
  text-decoration: none;
}
.footer-down__item a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.footer-down__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-liens {
  text-decoration: underline;
}
.footer-liens:hover {
  cursor: pointer;
  transform: scale(1.1);
}